<!DOCTYPE html>
<html>
<head>
<title>Ahant-Mobile</title>
<!-- CSS designs  -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent">
<meta name="viewport" content="width = device-width,initial-scale = 1.0">
<meta name="mobile-web-app-capable" content="yes">
<link rel="stylesheet" type="text/css" href="../libs/css/mobile.css">
<!-- JS libraries -->
<script type="text/javascript" src="../libs/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../libs/js/mobile-util.js"></script>
<script type="text/javascript" src="../controller/mobile.js"></script>

</head>
<body>
	<div id="header">
		<label>Application Distribution Portal</label>
	</div>
	<div id="content">
		<div class="slider-parent">
			<div id="app-prev-btn" class="prev-btn">
				<div class="left-arrow"></div>
			</div>
			<div id="app-slider">
				<div class="app">
					<label class="app-name">Talking Tom</label>
				</div>
				<div class="app">
					<label class="app-name">BofA2</label>
				</div>
				<div class="app">
					<label class="app-name">BofA3</label>
				</div>
				<div class="app">
					<label class="app-name">BofA4</label>
				</div>
				<div class="app">
					<label class="app-name">BofA5</label>
				</div>
				<div class="app">
					<label class="app-name">BofA6</label>
				</div>
				<div class="app">
					<label class="app-name">BofA7</label>
				</div>
				<div class="app">
					<label class="app-name">BofA8</label>
				</div>
			</div>
			<div id="app-next-btn" class="next-btn">
				<div class="right-arrow"></div>
			</div>
		</div>
		<div class="release-slider-parent">
			<div id="release-prev-btn" class="prev-btn">
				<div class="left-arrow" id="release-arrow"></div>
			</div>
			<div id="release-slider">
				<div class="release">
					version<br>1.0
				</div>
				<div class="release">
					version<br>1.2
				</div>
				<div class="release">
					version<br>1.3
				</div>
				<div class="release">
					version<br>1.4
				</div>
			</div>
			<div id="release-next-btn" class="next-btn">
				<div class="right-arrow" id="release-arrow"></div>
			</div>
		</div>
		<div id="build-info">
			<div id="app-info">

				<span class="app-info-label">Application Name: </span><span
					class="app-info-val">Android App</span> <br> <span
					class="app-info-label">Version: </span><span class="app-info-val">1.0</span>
				<br> <span class="app-info-label">Release Date: </span><span
					class="app-info-val">05/04/2014</span> <br> <span
					class="app-info-label">Release Note: </span><span
					class="app-info-val">Application release notes.</span>

			</div>
			<div id="notification">
				<img class="notify-icon" alt="select"
					src="../libs/image/check-box.png"> <img
					id="notify-select-icon" class="notify-icon" alt="select"
					src="../libs/image/select.png"> <label>Notify me for
					future releases of this application.</label>
			</div>
			<div id="build-list">
				<a href="#" class="build-item">env1-build</a> <a href="#"
					class="build-item">env2-build</a> <a href="#" class="build-item">env3-build</a>
				<a href="#" class="build-item">env4-build</a>
				<a href="#" class="build-item">env4-build</a>
				<a href="#" class="build-item">env4-build</a>
				<a href="#" class="build-item">env4-build</a>
				<a href="#" class="build-item">env4-build</a>
				<a href="#" class="build-item">env4-build</a>
				<a href="#" class="build-item">env4-build</a>
				<a href="#" class="build-item">env4-build</a>
				<a href="#" class="build-item">env42-build</a>
			</div>
		</div>
	</div>
	<div id="footer">
		<label> &copy; <script type="text/javascript">
			document.write(new Date().getFullYear());
		</script>&nbsp; Ahant Mobile. All rights reserved.
		</label>
	</div>
</body>
</html>